Repository letapicode/i-ask-therefore-i-create, changes with the owners that CODEOWNERS names for each.
All owners: @maintainer1, @maintainer2, @maintainer3, @maintainer4, @maintainer5, @maintainer6, @infra-team, @dev-tools

CODEOWNERS:

# Code owners for each folder
/apps/api-auth @maintainer1
/apps/orchestrator @maintainer2
/apps/codegen @maintainer3
/apps/portal @maintainer4
/services/email @maintainer5
/services/analytics @maintainer6
/infrastructure @infra-team
/tools @dev-tools

Add experiment summaries endpoint
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/experiments.tsx
  docs/prompt-ab-testing.md
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
Owners: @maintainer2, @maintainer4

feat: remove prompt experiment variants
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/prompt-tests.tsx
  docs/prompt-ab-testing.md
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
Owners: @maintainer2, @maintainer4

Allow editing prompt variants
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/prompt-tests.tsx
  docs/prompt-ab-testing.md
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
Owners: @maintainer2, @maintainer4

feat: add experiment reset
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/prompt-tests.tsx
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4

feat: allow renaming prompt experiments
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/prompt-tests.tsx
  docs/prompt-ab-testing.md
  parallel_tasks.md
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4

feat: clone experiments
  apps/orchestrator/src/index.ts
  docs/prompt-ab-testing.md
  parallel_tasks.md
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2

feat: add variant rename endpoint
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/prompt-tests.tsx
  parallel_tasks.md
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4

feat: add variant reset endpoint
  parallel_tasks.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: none

feat: add variant clone endpoint
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/prompt-tests.tsx
  docs/prompt-ab-testing.md
  parallel_tasks.md
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4

Proxy variant reset endpoint
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/prompt-tests.tsx
  docs/prompt-ab-testing.md
  steps_summary.md
Owners: @maintainer2, @maintainer4
