Repository letapicode/i-ask-therefore-i-create, changes with the owners that CODEOWNERS names for each.
All owners: @maintainer1, @maintainer2, @maintainer3, @maintainer4, @maintainer5, @maintainer6, @infra-team, @dev-tools

CODEOWNERS:

# Code owners for each folder
/apps/api-auth @maintainer1
/apps/orchestrator @maintainer2
/apps/codegen @maintainer3
/apps/portal @maintainer4
/services/email @maintainer5
/services/analytics @maintainer6
/infrastructure @infra-team
/tools @dev-tools

docs: add advanced parallel tasks
  parallel_tasks.md
  steps_summary.md
Owners: none

docs: add tasks 190-195
  parallel_tasks.md
  steps_summary.md
Owners: none

feat: add AR preview page
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/ar/index.tsx
  docs/README.md
  docs/ar-preview.md
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4

feat: add federated training service
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  docs/federated-training.md
  package.json
  pnpm-lock.yaml
  services/federated-training/README.md
  services/federated-training/package.json
  services/federated-training/src/index.test.ts
  services/federated-training/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2

Add accessibility audit pipeline
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/a11y.tsx
  docs/accessibility-audits.md
  package.json
  pnpm-lock.yaml
  services/billing/package.json
  services/collab-workflow/package.json
  services/marketplace/package.json
  services/plugins/package.json
  services/pricing/package.json
  steps_summary.md
  tools/a11y-scan.ts
Owners: @maintainer2, @maintainer4, @dev-tools

Add synthetic data generation service
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  docs/synthetic-data.md
  packages/codegen-templates/data-templates/README.md
  packages/codegen-templates/data-templates/user.json
  services/synthetic-data/README.md
  services/synthetic-data/package.json
  services/synthetic-data/src/index.test.ts
  services/synthetic-data/src/index.ts
  steps_summary.md
  tasks_status.md
  tools/synthetic-data.ts
Owners: @maintainer2, @dev-tools

Add blockchain licensing support
  docs/blockchain-licensing.md
  packages/data-connectors/package.json
  packages/data-connectors/src/blockchain.test.ts
  packages/data-connectors/src/blockchain.ts
  packages/data-connectors/src/index.ts
  pnpm-lock.yaml
  services/plugins/src/index.test.ts
  services/plugins/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: none

Add offline LLM support
  apps/codegen/src/localModel.ts
  apps/codegen/src/openai.ts
  docs/offline-llm.md
  offline-model/Dockerfile
  offline-model/fine_tune.py
  offline-model/infer.py
  offline-model/serve.py
  steps_summary.md
  tasks_status.md
  tools/fine-tune-local.sh
  tools/offline.sh
Owners: @maintainer3, @dev-tools

Add AI-Based accessibility assistant service
  apps/orchestrator/src/index.ts
  apps/portal/src/components/A11yTips.tsx
  apps/portal/src/pages/editor.tsx
  docs/a11y-assistant.md
  pnpm-lock.yaml
  services/a11y-assistant/README.md
  services/a11y-assistant/package.json
  services/a11y-assistant/src/index.test.ts
  services/a11y-assistant/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4

feat: add data anonymization tools
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  docs/README.md
  docs/data-privacy.md
  packages/shared/src/pii.test.ts
  packages/shared/src/pii.ts
  steps_summary.md
  tasks_status.md
  tools/anonymize-data.ts
Owners: @maintainer2, @dev-tools

feat: add prompt versioning service
  apps/portal/src/pages/prompts.tsx
  docs/prompt-management.md
  services/prompt-store/README.md
  services/prompt-store/package.json
  services/prompt-store/src/index.test.ts
  services/prompt-store/src/index.ts
  services/prompt-store/tsconfig.json
  steps_summary.md
  tasks_status.md
Owners: @maintainer4

feat: add query optimization service
  apps/portal/src/pages/query-optimization.tsx
  docs/query-optimization.md
  packages/shared/src/README.md
  packages/shared/src/queryProfiler.test.ts
  packages/shared/src/queryProfiler.ts
  services/query-optimizer/README.md
  services/query-optimizer/package.json
  services/query-optimizer/src/index.test.ts
  services/query-optimizer/src/index.ts
  services/query-optimizer/tsconfig.json
  steps_summary.md
  tasks_status.md
Owners: @maintainer4

feat: add blockchain connectors
  docs/README.md
  docs/blockchain-connectors.md
  packages/data-connectors/README.md
  packages/data-connectors/src/blockchain.ts
  packages/data-connectors/src/index.ts
  steps_summary.md
  tasks_status.md
  tests/blockchain/connectors.test.ts
Owners: none

feat: add graph database template and connectors
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/create.tsx
  docs/graph-databases.md
  packages/codegen-templates/src/templates/graph-db/README.md
  packages/codegen-templates/src/templates/graph-db/schema.cypher
  packages/codegen-templates/src/templates/graph-db/server.ts
  packages/codegen-templates/src/templates/index.ts
  packages/data-connectors/package.json
  packages/data-connectors/src/graph.test.ts
  packages/data-connectors/src/graph.ts
  packages/data-connectors/src/index.ts
  pnpm-lock.yaml
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4

Add multi-region disaster recovery
  apps/orchestrator/src/backup.test.ts
  apps/orchestrator/src/backup.ts
  apps/orchestrator/src/index.ts
  docs/README.md
  docs/disaster-recovery.md
  infrastructure/disaster-recovery/README.md
  infrastructure/disaster-recovery/main.tf
  infrastructure/disaster-recovery/outputs.tf
  infrastructure/disaster-recovery/variables.tf
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @infra-team

Add AI-driven code review service
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/activity.tsx
  docs/ai-code-review.md
  services/code-review/README.md
  services/code-review/package.json
  services/code-review/src/index.test.ts
  services/code-review/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4

Add OpenTelemetry tracing support
  apps/orchestrator/src/index.ts
  infrastructure/observability/README.md
  infrastructure/observability/main.tf
  infrastructure/observability/variables.tf
  packages/observability/README.md
  packages/observability/package.json
  packages/observability/src/index.test.ts
  packages/observability/src/index.ts
  pnpm-lock.yaml
  services/analytics/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @infra-team, @maintainer6

Add OpenTelemetry tracing support
  apps/orchestrator/src/index.ts
  infrastructure/observability/README.md
  infrastructure/observability/main.tf
  infrastructure/observability/variables.tf
  packages/observability/README.md
  packages/observability/package.json
  packages/observability/src/index.test.ts
  packages/observability/src/index.ts
  pnpm-lock.yaml
  services/analytics/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @infra-team, @maintainer6

Add edge deployment support
  apps/orchestrator/src/README.md
  apps/orchestrator/src/index.ts
  docs/README.md
  docs/edge-deployments.md
  infrastructure/edge/README.md
  infrastructure/edge/main.tf
  infrastructure/edge/outputs.tf
  infrastructure/edge/variables.tf
  packages/codegen-templates/src/templates/edge/README.md
  packages/codegen-templates/src/templates/edge/worker.ts
  packages/codegen-templates/src/templates/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @infra-team

Add edge deployment support
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  docs/edge-deployments.md
  infrastructure/edge/README.md
  infrastructure/edge/main.tf
  infrastructure/edge/outputs.tf
  infrastructure/edge/variables.tf
  infrastructure/edge/worker.js
  packages/codegen-templates/src/templates/edge/README.md
  packages/codegen-templates/src/templates/edge/index.js
  packages/codegen-templates/src/templates/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @infra-team

Add edge deployment support
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  docs/edge-deployments.md
  infrastructure/edge/README.md
  infrastructure/edge/main.tf
  infrastructure/edge/outputs.tf
  infrastructure/edge/variables.tf
  infrastructure/edge/worker.js
  packages/codegen-templates/src/templates/edge/README.md
  packages/codegen-templates/src/templates/edge/index.js
  packages/codegen-templates/src/templates/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @infra-team

Add ChatOps Slack assistant
  apps/orchestrator/src/index.ts
  docs/plugin-marketplace.md
  services/plugins/chatops/README.md
  services/plugins/chatops/package.json
  services/plugins/chatops/src/index.test.ts
  services/plugins/chatops/src/index.ts
  steps_summary.md
Owners: @maintainer2

Remove compiled prompt-store files
  apps/api-auth/package.json
  apps/codegen/package.json
  apps/orchestrator/package.json
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/seed-data.tsx
  docs/automatic-data-seeding.md
  packages/codegen-templates/package.json
  packages/codegen-templates/src/seedData.test.ts
  packages/codegen-templates/src/seedData.ts
  packages/observability/package.json
  packages/retry/package.json
  packages/shared/package.json
  pnpm-lock.yaml
  services/a11y-assistant/package.json
  services/analytics/package.json
  services/billing/package.json
  services/code-review/package.json
  services/collab-workflow/package.json
  services/email/package.json
  services/federated-training/package.json
  services/marketplace/package.json
  services/plugins/package.json
  services/pricing/package.json
  services/prompt-store/package.json
  services/query-optimizer/package.json
  services/synthetic-data/package.json
  steps_summary.md
  tasks_status.md
Owners: @maintainer1, @maintainer3, @maintainer2, @maintainer4, @maintainer6, @maintainer5

feat(ar): collaborative sessions
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/ar/index.tsx
  docs/README.md
  docs/collaborative-ar.md
  services/analytics/src/index.test.ts
  services/analytics/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4, @maintainer6

feat: add community model sharing hub
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/models.tsx
  docs/community-models.md
  pnpm-lock.yaml
  services/federated-training/package.json
  services/federated-training/src/index.test.ts
  services/federated-training/src/index.ts
  services/federated-training/src/storage.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4

Add accessibility score tracking
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/a11y-score.tsx
  docs/accessibility-scoring.md
  services/a11y-assistant/src/score.test.ts
  services/a11y-assistant/src/score.ts
  services/analytics/README.md
  services/analytics/src/index.test.ts
  services/analytics/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4, @maintainer6

feat: add plugin resale marketplace
  apps/portal/src/pages/resale.tsx
  docs/README.md
  docs/plugin-resale.md
  infrastructure/blockchain/README.md
  infrastructure/blockchain/license.sol
  packages/data-connectors/src/blockchain.test.ts
  packages/data-connectors/src/blockchain.ts
  services/plugins/src/index.test.ts
  services/plugins/src/index.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer4, @infra-team

feat: add offline LLM optimization tools
  docs/README.md
  docs/offline-llm-optimization.md
  offline-model/Dockerfile
  offline-model/optimized/README.md
  steps_summary.md
  tasks_status.md
  tests/tools/benchmark.test.ts
  tools/README.md
  tools/llm-optimization/README.md
  tools/llm-optimization/benchmark.ts
  tools/llm-optimization/optimize.sh
Owners: @dev-tools

feat(chatops): add NLP endpoint and analytics context
  services/analytics/src/index.test.ts
  services/analytics/src/index.ts
  services/plugins/chatops/README.md
  services/plugins/chatops/src/index.test.ts
  services/plugins/chatops/src/index.ts
  services/plugins/chatops/src/nlp.test.ts
  services/plugins/chatops/src/nlp.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer6

feat(ar): reusable gesture library
  apps/portal/package.json
  apps/portal/src/pages/ar/index.tsx
  package.json
  packages/ar-gestures/README.md
  packages/ar-gestures/package.json
  packages/ar-gestures/src/index.test.ts
  packages/ar-gestures/src/index.ts
  pnpm-lock.yaml
  steps_summary.md
  tasks_status.md
Owners: @maintainer4

feat: add federated privacy dashboard
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/privacy-dashboard.tsx
  docs/federated-privacy.md
  services/federated-training/src/index.ts
  services/federated-training/src/metrics.test.ts
  services/federated-training/src/metrics.ts
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4

feat: add cross-chain license sync
  docs/README.md
  docs/cross-chain-licensing.md
  packages/data-connectors/src/blockchain.test.ts
  packages/data-connectors/src/blockchain.ts
  services/plugins/src/index.test.ts
  services/plugins/src/index.ts
  steps_summary.md
  tasks_status.md
  tools/resync-licenses.ts
Owners: @dev-tools

Add edge auto-scaling support
  apps/orchestrator/src/index.test.ts
  apps/orchestrator/src/index.ts
  docs/edge-auto-scaling.md
  infrastructure/edge/auto-scaling.tf
  infrastructure/edge/variables.tf
  packages/codegen-templates/src/templates/edge/worker.ts
  packages/shared/package.json
  packages/shared/src/scaling.test.ts
  packages/shared/src/scaling.ts
  pnpm-lock.yaml
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @infra-team

Add prompt A/B testing platform
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/prompt-tests.tsx
  docs/prompt-ab-testing.md
  services/prompt-experiments/README.md
  services/prompt-experiments/package.json
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  services/prompt-experiments/tsconfig.json
  steps_summary.md
  tasks_status.md
Owners: @maintainer2, @maintainer4

Enhance prompt experiments with sanitized input and summary endpoint
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
Owners: none

feat: export prompt experiment results
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/experiments.tsx
  apps/portal/src/pages/prompt-tests.tsx
  docs/prompt-ab-testing.md
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
Owners: @maintainer2, @maintainer4

feat: add recursive sanitization helper
  packages/shared/src/README.md
  packages/shared/src/sanitize.test.ts
  packages/shared/src/sanitize.ts
  steps_summary.md
Owners: none

feat: add exponential backoff to retry helper
  packages/retry/README.md
  packages/retry/src/README.md
  packages/retry/src/index.test.ts
  packages/retry/src/index.ts
  steps_summary.md
Owners: none

Validate prompt experiment updates
  docs/prompt-ab-testing.md
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
Owners: none

feat: add variant creation for prompt experiments
  apps/orchestrator/src/index.ts
  apps/portal/src/pages/prompt-tests.tsx
  docs/prompt-ab-testing.md
  services/prompt-experiments/README.md
  services/prompt-experiments/src/index.test.ts
  services/prompt-experiments/src/index.ts
  steps_summary.md
Owners: @maintainer2, @maintainer4
